/* Header CSS */
.header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: white;
    width:100%;
}

.logo-container{
    max-width: 5rem;
}

#logo-img{
    width: 7rem;
}
.nav-Items > ul{
    display: flex;
}

.nav-Items > ul > li {
    margin-left: 10px;
    font-size: 20px;
    list-style: none;
    margin-top: 30px;
    padding: 0px 10px;
}

.nav-Items > ul > li:hover{
    box-shadow: 1px 1px 1px rgba(205, 205, 202, 0.726);
}
.search{
    display:flex;
    padding: 2.5rem;
}
.search-textbox{
    width: 25rem;
    height: 2rem;
    margin-left: 13rem;
    margin-right: 2rem;
    border: 1px solid #b9b6b36b;
    border-radius: 5px ;
}
.search-textbox:hover{
    box-shadow: 1px 1px 1px rgba(225, 225, 221, 0.505); 
    border: 2px dotted #b9b6b396;
} 
.search-textbox:focus{
    box-shadow: 1px 1px 1px rgba(225, 225, 221, 0.505); 
    border: 2px dotted #b9b6b396;
    outline: none;
}   
.search-button{
    border: 1px solid #b9b6b36b;
    border-radius: 10px ;
    font-size: medium;
    width: 5rem;
    height: 2.5rem;
    font-family:cursive;
    cursor: pointer;
}
.search-button:hover{
    box-shadow: 1px 1px 1px rgba(205, 205, 202, 0.726);
}
.login{
    border: 1px solid #b9b6b36b;
    border-radius: 10px ;
    font-size: medium;
    width: 5rem;
    height: 2.5rem;
    font-family:cursive;
    cursor: pointer;
}

/* Body CSS */

/* Card CSS */
.filter-btn{
    margin-left: 10rem;
    padding: 1.3rem;
    border: 1px solid #b9b6b36b;
    border-radius: 10px ;
    font-size: medium;
    cursor: pointer;
}

.body-res-card{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.res-card{
    border-radius: 10px;
    border: 1px solid #b9b6b36b;
    width: 17rem ;
    margin: 1rem;
}

.res-card:hover{
    box-shadow: 4px 3px 4px rgba(227, 227, 223, 0.604);
    transition:ease-in-out;
    border: 1px solid;
    border: 1px solid #b9b6b396;
}

.res-card-content{
   display:inherit;
   margin: 10px;
   padding-left: 10px;
   /* overflow: hidden; */
}

#card-img{
    display: inherit;
    width: 17rem;
    height:15rem;
    object-fit:fill;
    object-position: top; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
.card-title{
    font-size:25px;
    color: #632e00;
}


/* Shimmer Styles */
.topRated-shimmer{
    margin-left: 10rem;
    width: 13rem;
    height: 4rem;
    border-radius: 10px ;
    background-color: rgb(239, 233, 233);
}
.card-shimmer{
    display:flex;
    margin-left: 10rem;
    margin-right: 10rem;
    justify-content: space-between;
}
.card-shimmer-container{
    border-radius: 10px;
    border: 1px solid #b9b6b36b;
    width: 17rem;
    height: 26.5rem;
    margin-top:2rem;
    
}
.shimmer-img{
    display: inherit;
    width: 17rem;
    height:15rem;
    background-color: rgb(239, 233, 233);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.shimmer-title{
    background-color: rgb(239, 233, 233);
    width: 15rem;
    height: 2rem;
    margin-top: 1rem;
    margin-left: 1rem;
}
.shimmer-description{
    background-color: rgb(239, 233, 233);
    margin-top: 1rem;
    width: 15rem;
    height: 1rem;
    margin-left: 1rem;
}